form {
    background-color: lightgray;
    border-style: solid;
    border-radius: 2%;
    box-sizing: border-box;
    margin-top: 10%;
    width: 20%;
    height: 60%;
    display: flexbox;
    justify-content: center;
    align-content: center;
    gap: 5%;
    grid-auto-flow: row;
}

.style {
    border: 6% solid dimgrey;
    border-radius: 6%;
    width: 50%;
    padding: 4% 10%;
    margin: 5% 6%;
    font-size: medium;
    font-weight: bold;
}

input[type=text]:focus{
    border: 5% solid black;
}

input[type=submit] {
    background-color: dimgray;
    border: none;
    color: white;
    padding: 6% 10%;
    text-decoration: none;
    margin: 5% 6%;
    cursor: pointer;
    font-size: small;
}



.background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}



.tree {
    position: absolute;
    margin: 0% auto;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.trunk {
    width: 5vw;
    height: 200px; /* TODO: Responsive */
    margin: 0 auto 5% auto;
    background-color: #964b00;
}

.leaves {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    width: 100%;
    height: 80%;
}

/* Adapted from https://codepen.io/fvignals/pen/waxvqZ */
.leaf {
    position: relative; /* Thanks Guillaume */
    height: 0;
    overflow: hidden;
    margin: 0 auto -5% auto;
}
.leaf::after {
    content: "";
    width: 0;
    height: 0;
    margin-left: -100vw;
    border-left: 100vw solid transparent;
    border-right: 100vw solid transparent;
    border-bottom: 100vw solid;
}

.leaf1 {
    width: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
}
.leaf1::after {
    border-bottom-color: #00c000;
}

.leaf2 {
    width: 15%;
    padding-left: 15%;
    padding-bottom: 15%;
}
.leaf2::after {
    border-bottom-color: #00a000;
}

.leaf3 {
    width: 20%;
    padding-left: 20%;
    padding-bottom: 20%;
}
.leaf3::after {
    border-bottom-color: #008000;
}


/*.presents {
    position: absolute;
    margin: 0% auto;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.present {
    position: relative;
    height: 50px;
    width: 50px;
    margin: 0 auto -5%;
}
.present::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.day {
    width: 13%;
    height: 25%;
    border: 2% solid red;
    background-color: red;
    margin: 77% 60%;
}
.hour {
    width: 10%;
    height: 30%;
    border: 2% solid blue;
    background-color: blue;
    margin: 75% 75%;
}
.minute {
    width: 20%;
    height: 13%;
    border: 2% solid yellow;
    background-color: yellow;
    margin: 77% 110%;
    transform: rotate(-35deg);
}
.second {
    width: 15%;
    height: 20%;
    border: 2% solid green;
    background-color: green;
    margin: 79% 127%;
}*/


.p {
    width: 10%;
    height: 10%;
}
p {
    margin-left: 90%;
    margin-top: 0;
    /*color: white;*/
}