form {
    background-color: lightgray;
    border-style: solid;
    border-radius: 8px;
    margin-top: 70px;
    width: 20%;
    height: 350px;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: row;
}

.style {
    border: 3px solid dimgrey;
    border-radius: 5px;
    width: 50%;
    padding: 5px 10px;
    margin: 10px 5px;
}

input[type=text]:focus{
    border: 4px solid black;
}

input[type=submit] {
    background-color: dimgray;
    border: none;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    margin: 4px 5px;
    cursor: pointer;
}

.background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}



.tree {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.trunk {
    width: 5vw;
    height: 200px; /* TODO: Responsive */
    margin: 0 auto 5% auto;
    background-color: #964b00;
}

.leaves {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    width: 100%;
    height: 80%;
}

/* Adapted from https://codepen.io/fvignals/pen/waxvqZ */
.leaf {
    position: relative; /* Thanks Guillaume */
    height: 0;
    overflow: hidden;
    margin: 0 auto -5% auto;
}
.leaf::after {
    content: "";
    width: 0;
    height: 0;
    margin-left: -100vw;
    border-left: 100vw solid transparent;
    border-right: 100vw solid transparent;
    border-bottom: 100vw solid;
}

.leaf1 {
    width: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
}
.leaf1::after {
    border-bottom-color: #00c000;
}

.leaf2 {
    width: 15%;
    padding-left: 15%;
    padding-bottom: 15%;
}
.leaf2::after {
    border-bottom-color: #00a000;
}

.leaf3 {
    width: 20%;
    padding-left: 20%;
    padding-bottom: 20%;
}
.leaf3::after {
    border-bottom-color: #008000;
}